**1-Write a Python program to calculate the length of a string using 2 ways

In [2]:
str="mohamed"
print(len(str))

7

In [4]:
def findLen(str):
    counter = 0   
    for i in str:
        counter += 1
    return counter
 
 
str = "mohamed"
print(findLen(str))

7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [13]:
def string_both_ends(str):  
  if len(str) < 2:  
    return ''  
  
  return str[0:2] + str[-2:]  
  
print(string_both_ends('mohamed'))  
print(string_both_ends('mo'))  
print(string_both_ends('m'))

w3ce
w3w3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [14]:
def add_string(str1):
  length = len(str1)

  if length > 2:
    if str1[-3:] == 'ing':
      str1 += 'ly'
    else:
      str1 += 'ing'

  return str1
print(add_string('ab'))
print(add_string('abc'))
print(add_string('string'))

ab
abcing
stringly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [15]:
def change_sring(str1):
      return str1[-1:] + str1[1:-1] + str1[:1]
	  
print(change_sring('abcd'))
print(change_sring('12345'))

dbca
52341

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [16]:
str1="abca"
str2=""
for i in range(len(str1)):
    if i%2==0:
        str2+=str1[i]
        print(str2)

a
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [2]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('amr and ahmed are friends but amr is the tallsest'))

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'friends': 1, 'but': 1, 'is': 1, 'the': 1, 'tallsest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [15]:
user_input=input("please enter a text")
print("the text is",user_input.upper())
print("the text is",user_input.lower())

please enter a textmohamed
the text is MOHAMED
the text is mohamed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [18]:
def reverse_string(str1):
    if len(str1) % 4 == 0:
        return ''.join(reversed(str1))
    return str1

print(reverse_string('abcd'))
print(reverse_string('python'))

dcba
python

**10- Write a Python program to remove a newline in Python

In [5]:
str1='mohamed\n'
print(str1)
print(str1.rstrip())

Python Exercises

Python Exercises

**11-Write a Python program to check whether a string starts with specified characters

In [7]:
string="mohamed"
print(string.startswith("mos"))

False

**12- Write a Python program to add prefix text to all of the lines in a string

In [3]:
import textwrap
sample_text ='''
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
    zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
    '''
text_without_Indentation = textwrap.dedent(sample_text)
wrapped = textwrap.fill(text_without_Indentation, width=50)
#wrapped += '\n\nSecond paragraph after a blank line.'
final_result = textwrap.indent(wrapped, '> ')
print()
print(final_result)
print()

>  mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
> zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
> wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww

**13-Write a Python program to print the following numbers up to 2 decimal places

In [11]:
x = 3.1415926
y = 12.9999
print("\nOriginal Number: ", x)
print("Formatted Number: "+"{:.2f}".format(x));
print("Original Number: ", y)
print("Formatted Number: "+"{:.2f}".format(y));
print()

Original Number:  3.1415926
3.14
Original Number:  12.99999999
Formatted Number: 13.00

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [9]:
x = 3.1415926
y = -12.9999
print("\nOriginal Number: ", x)
print("Formatted Number with sign: "+"{:+.2f}".format(x));
print("Original Number: ", y)
print("Formatted Number with sign: "+"{:+.2f}".format(y));
print()

Original Number:  3.1415926
Formatted Number with sign: +3.14
Original Number:  -12.9999
Formatted Number with sign: -13.00

**15-Write a Python program to display a number with a comma separator

In [12]:
x = 3000000
y = 30000000
print("\nOriginal Number: ", x)
print("Formatted Number with comma separator: "+"{:,}".format(x));
print("Original Number: ", y)
print("Formatted Number with comma separator: "+"{:,}".format(y));
print()

Original Number:  3000000
Formatted Number with comma separator: 3,000,000
Original Number:  30000000
Formatted Number with comma separator: 30,000,000

**16-Write a Python program to reverse a string using 2 ways

In [6]:
#1st way
#txt = "Hello World" [::-1]
#print(txt)

#2nd way
def my_function(x):
  return x [::-1]

mytxt = my_function("I wonder how this text looks like backwards")

print(mytxt)

sdrawkcab ekil skool txet siht woh rednow I

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [7]:
import collections
str1 = 'use dictionary'
d = collections.defaultdict(int)
for c in str1:
    d[c] += 1

for c in sorted(d, key=d.get, reverse=True):
  if d[c] > 1:
      print('%s %d' % (c, d[c]))

i 2

**18-Write a Python program to find the first non-repeating character in a given string

In [8]:
def first_non_repeating_character(str1):
  char_order = []
  ctr = {}
  for c in str1:
    if c in ctr:
      ctr[c] += 1
    else:
      ctr[c] = 1 
      char_order.append(c)
  for c in char_order:
    if ctr[c] == 1:
      return c
  return None

print(first_non_repeating_character('abcdef'))
print(first_non_repeating_character('abcabcdef'))
print(first_non_repeating_character('aabbcc'))

a
d
None

**19-Write a Python program to remove spaces from a given string

In [1]:
def remove_spaces(str1):
  str1 = str1.replace(' ','')
  return str1
    
print(remove_spaces("m o h a m e d"))
print(remove_spaces("a b c"))

mohamed
abc

**20-Write a Python program to count the number of non-empty substrings of a given string

In [10]:
def number_of_substrings(str): 
	str_len = len(str); 
	return int(str_len * (str_len + 1) / 2); 

str1 = input("Input a string: ")
print("Number of substrings:") 
print(number_of_substrings(str1))

Input a string: mohamed nasser
Number of substrings:
105

**21-write a Python program to swap first and last element of any list.

In [1]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=int(input("Enter element" + str(x+1) + ":"))
    a.append(element)
temp=a[0]
a[0]=a[n-1]
a[n-1]=temp
print("New list is:")
print(a)

Enter the number of elements in list:3
Enter element1:1
Enter element2:2
Enter element3:3
New list is:
[3, 2, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [6]:

def swapPositions(lis, pos1, pos2):
    temp=lis[pos1]
    lis[pos1]=lis[pos2]
    lis[pos2]=temp
    return lis

List = [23, 65, 19, 90]
pos1, pos2 = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [7]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1, 2, -8, 0]))

SyntaxError: invalid syntax (505437205.py, line 3)

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [12]:
def min_num_in_list(list):
    max=list[0]
    for a in list:
        if a<max:
            max=a
            return max
        print(min_num_in_list([1,2,-8,0]))

**26-search for if an elem is existing in list

In [6]:
list=[1,2,-8,0]
n=int(input("enter an number to search for"))
for a in list:
    if(a==n):
        print("the number is existing in the list")
        break
    else:
            print("the number dosent exist on the list")
            break

enter an number to search for3
the number dosent exist on the list

**27- clear python list using different ways

In [10]:
#way1
#list=["mon","tues","fri"]
#print("list before deleting is",list)
#list.clear()
#print("after clearing the list",list)

#way2
#list=["mon","tues","fri"]
#print("existing list",list)
#del list[2]
#print("after deleting an element from list",list)
#del list[:]
#print("after deleting all elements from a list",list)


#way3
#list=["mon","tues","fri"]
#print("existing list",list)
#list *=0;
#print("list after clearing",list)

#way4
list=["mon","tues","fri"]
print("exsting list",list)
list=[];
print("list after clearing",list)

exsting list ['mon', 'tues', 'fri']
list after clearing []

**28-remove duplicated elements from a list

In [16]:
#way1
#list=[1,2,1,3,4]
#print("existing list",list)
#temp_list=[]
#for a in list:
   #if(a not in temp_list):
        #temp_list.append(a);
       # print(temp_list)
        
#way2
list=[1,2,1,3,4]
print("existing list",list)
temp_list=set(list)
print(temp_list)

existing list [1, 2, 1, 3, 4]
{1, 2, 3, 4}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [28]:
#way 1
#a_list = ['apple', 'orage', 'apple', 'banana', 'apple', 'apple', 'orange', 'grape', 'grape', 'apple']
#unique=len(set(a_list))
#print(unique)



#way 2
#a_list = ['apple', 'orage', 'apple', 'banana', 'apple', 'apple', 'orange', 'grape', 'grape', 'apple']
#unique_list =[]
#counter = 0
#for item in a_list:
    #if item not in unique_list:
       # unique_list.append(item)
        #counter += 1
#print(counter)


#way3
# Use numpy in Python to count unique values in a list
#a_list = ['apple', 'orage', 'apple', 'banana', 'apple', 'apple', 'orange', 'grape', 'grape', 'apple']

#import numpy as np

#num_values = len(np.unique(np.array(a_list)))

#print(num_values)

#way4
# Using Counter from collections to count unique values in a list
a_list = ['apple', 'orage', 'apple', 'banana', 'apple', 'apple', 'orange', 'grape', 'grape', 'apple']

from collections import Counter

num_values = len(Counter(a_list).keys())
print(num_values)

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [29]:
# Python3 code to demonstrate working of
# Extract elements with Frequency greater than K
# Using count() + loop
 
# initializing list
test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
 
# printing string
print("The original list : " + str(test_list))
 
# initializing K
K = 2
 
res = []
for i in test_list:
     
    # using count() to get count of elements
    freq = test_list.count(i)
     
    # checking if not already entered in results
    if freq > K and i not in res:
        res.append(i)
 
#printing results
print("The required elements : " + str(res))

The original list : [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
The required elements : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

SyntaxError: invalid syntax (1434269981.py, line 1)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [31]:
# Python program to print all
# the possible combinations
  
def comb(L):
      
    for i in range(3):
        for j in range(3):
            for k in range(3):
                  
                # check if the indexes are not
                # same
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])
                      

comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [55]:
from itertools import combinations
# initializing list
test_list = ["GFG", [5, 4], "is",
            ["best", "good", "better", "average"]]
idx=0
temp = combinations(test_list, 2)
for i in list(temp):
    idx = idx+1
    print ("Combination", idx, ": ", i)

TypeError: 'list' object is not callable

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [54]:
List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [57]:
# Python 3 code to demonstrate
# the removal of all occurrences of a
# given item using list comprehension
 
 
def remove_items(test_list, item):
 
    # using list comprehension to perform the task
    res = [i for i in test_list if i != item]
 
    return res
 
 
# driver code
if __name__ == "__main__":
 
    # initializing the list
    test_list = [1, 3, 4, 6, 5, 1]
 
    # the item which is to be removed
    item = 1
 
    # printing the original list
    print("The original list is : " + str(test_list))
 
    # calling the function remove_items()
    res = remove_items(test_list, item)
 
    # printing result
    print("The list after performing the remove operation is : " + str(res))

The original list is : [1, 3, 4, 6, 5, 1]
The list after performing the remove operation is : [3, 4, 6, 5]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [52]:
def sort_sublists(input_list):
    result = sorted(input_list, key=lambda l: (len(l), l))
    return result
list1 = [[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]
print("Original list:")
print(list1)
print("\nSort the list of lists by length and value:")
print(sort_sublists(list1))

Original list:
[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

Sort the list of lists by length and value:
[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

**44- Write a Python script to merge two Python dictionaries

**45-Write a Python program to get the maximum and minimum values of a dictionary values

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [51]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print("Original Dictionary:")
print(dict1)
print("New Dictionary after dropping empty items:")
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
#Create a tuple with numbers
tuplex = 5, 10, 15, 20, 25
print(tuplex)
#Create a tuple of one item
tuplex = 5,
print(tuplex)

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
#create a tuple
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3) 
#the number of variables must be equal to the number of items of the tuple
n1, n2, n3, n4= tuplex

**49-Write a Python program to add an item to a tuple

In [50]:

tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)

TypeError: 'list' object is not callable

**50-Write a Python program to convert a tuple to a string

In [ ]:
#The join() method takes all items in an iterable and joins them into one string.
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

**51-Write a Python program to convert a list to a tuple

In [ ]:
#use the tuple() function built-in Python, change the list to a tuple
listx = [5, 10, 7, 4, 15, 3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

**52-Write a Python program to reverse a tuple

In [47]:
def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
     

tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [46]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [45]:
#The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print("Original string:")
print(str1)
print(type(str1))
print("Convert the said string to a tuple:") 
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

Original string:
python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [43]:
#The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.
def average_tuple(nums):
    result = [sum(x) / len(x) for x in zip(*nums)]
    return result

nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print ("Original Tuple: ")
print(nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))

Original Tuple:
((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))

Average value of the numbers of the said tuple of tuples:
 [30.5, 34.25, 27.0, 23.25]

**56-Write a Python program to add member(s) to a set.

In [44]:
s=set()
s.add("mohamed")
s.add("mostafa")
s.add(1)
s.add(2)
s.add(3)
s

{1, 2, 3, 'mohamed', 'mostafa'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [37]:
#If the item to remove does not exist, remove() will raise an error.
#If the item to remove does not exist, discard() will NOT raise an error.
#Create a new set
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)
print("\nRemove 4 from the said set:")
num_set.discard(4)
print(num_set)
print("\nRemove 5 from the said set:")
num_set.discard(5)
print(num_set)
print("\nRemove 2 from the said set:")
num_set.discard(2)
print(num_set)
print("\nRemove 7 from the said set:")
num_set.discard(15)
print(num_set)

Original set elements:
{0, 1, 2, 3, 4, 5}

Remove 4 from the said set:
{0, 1, 2, 3, 5}

Remove 5 from the said set:
{0, 1, 2, 3}

Remove 2 from the said set:
{0, 1, 3}

Remove 7 from the said set:
{0, 1, 3}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [35]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
print("union is",A|B)
print("intersection is",A&B)
print("difference is",A-B)
print("symmetric diffrence",A^B)

union is {0, 1, 2, 3, 4, 5, 6, 8}
intersection is {2, 4}
difference is {0, 8, 6}
symmetric diffrence {0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [34]:
setn = {5, 10, 3, 15, 2, 20}
print("the original set is",setn)
print("the max number in the set is",max(setn))
print("the minimum number in the set is",min(setn))

the original set is {2, 3, 20, 5, 10, 15}
the max number in the set is 20
the minimum number in the set is 2

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [48]:
def findPairs(lst, K):
    res = []
    while lst:
        num = lst.pop()
        diff = K - num
        if diff in lst:
            res.append((diff, num))
         
    res.reverse()
    return res
     
lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))

[(5, 7), (3, 9)]